html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-family: 'Playfair Display', serif;
    color: #626262
}

.container__content {
    width: 899px;
    margin: 0 auto;
}

.name__photo {
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    text-transform: uppercase;
    font-size: 14px;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 79px;
    padding-bottom: 100px;
}

.nav li {
    display: inline-block;
    margin-right: 53px;
}

.nav__p:hover {
    color: #03a9f4;
}

.nav__p {
    text-decoration: none;
    color: #626262;
}
    
.main__content li {
    display: inline-block;
    margin-right: 54px;
}

.main__content li:nth-child(2n) {
    margin-right: 0;
}

ul {
    padding: 0;
}

img {
    margin-bottom: 32px;
}

.name__photo {
    margin-bottom: 28px;
    font-weight: 300;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 34px;
}

.main__li {
    width: 420px;
    margin-bottom: 132px;
}

.text__photo {
    font-size: 14px;
}

.footer_btn {
    text-align: center;
    padding-bottom: 70px;
}

.btn {
    width: 164px;
    height: 60px;
    border: 1px solid #000000;
    background-color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #626262;
}